
.contentContainer {
  bottom: 33%;
  left: 10%;
  position: absolute;
  right: 10%;
  top: 30%;
  font-family: monospace;
  border: 2px solid black;
  background: linear-gradient(135deg, #e6dcff, #ff0059);
}

li {
  list-style: none;
  font-size: 25px;
  display: flex;
  flex-direction: column;
}
