* {
  margin: 0;
  box-sizing: border-box;
}

.row,
.screen,
.keyboard,
.container,
.calculator-body {
  display: flex;
}

.calculator-body {
  width: 400px;
  border: 1.5px solid hsl(212, 0%, 0%);
}

.keyboard,
.calculator-body {
  flex-direction: column;
}

.row {
  width: 100%;
}

.container {
  justify-content: center;
  padding-top: 10em;
  display: flex;
}

.screen {
  width: 100%;
  height: 68px;
  padding: 0 1em;
  align-items: center;
  justify-content: end;
  color: hsl(212, 1%, 100%);
  background-color: hsla(0, 0%, 13%, 0.5);
}

.keyboard {
  width: 100%;
  background-color: hsl(212, 13%, 75%);
}

.btn {
  width: 25%;
  font-size: x-large;
  border: none;
  height: 70px;
  margin: 0.5% 0.5%;
}

.btn:last-child {
  background-color: hsl(27, 78%, 50%);
}

.last-row > .btn:first-child {
  width: 51%;
}
